[submodule "themes/hugo-goa"]
    path = themes/hugo-goa
    url = git@github.com:danyspin97/hugo-goa
    branch = master
[submodule "themes/cocoa"]
    path = themes/cocoa
    url = https://github.com/nishanths/cocoa-hugo-theme
    branch = master
[submodule "public"]
    path = public
    url = git@github.com:danyspin97/danyspin97.github.io.git
    branch = master
