@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway');

@font-face {
  font-family: 'Iosevka'; /* set name */
  src: url("/fonts/iosevka-regular.woff2"); /* url of the font */
}

.remark-code, .remark-inline-code { font-family: 'Iosevka'; }
.remark-code { font-size: '30px'; }

body { 
    font-family: 'Quicksand', sans-serif;
    color: #2f5361;
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #A011B4;
}

.remark-slide-content h3 {
    font-weight: normal;
    font-size: 55px;
    color: #2f5361;
}

.remark-slide-content h4 {
    font-size: 85px;
}

.remark-slide-content {
    font-size: 37px;
}

.left-center {
    margin: 0;
    position: absolute;
    text-align: left;
    width: 30%;
    top: 40%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.green {
    color: #81c13b;
}

.purple {
    color: #A011B4;
}

.column:first-of-type {
    float:left
}
.column:last-of-type {
    float:right
}

.split-50 .column:first-of-type {
    width: 50%;
    text-align: left;
}
.split-50 .column:last-of-type {
    width: 50%;
    text-align: right;
}

.left-column h1 {
    color: #dcd9d6;
}

.remark-fading { z-index: 9; } 
 /* Thanks to http://www.partage-it.com/animez-vos-presentations-remark-js/  (in French) */
.remark-slide-container {transition: opacity 0.45s ease-out;opacity: 0;}
.remark-visible {transition: opacity 0.45s ease-out;opacity: 1;}

.remark-slide-content { background-size: contain; }

@page {
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
