div.main .content .markdown img {
    max-width: 100%;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


div.main .content .markdown img + em {
    color: #666666;
}
