{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
            <div class="posts">
                <div class="page-heading">{{ .Title }}</div>

                <span style="display:inline;"><a id="button-date" href="javascript:show('date');hideAllExcept('date');"><i class="fa fa-calendar" aria-hidden="true"></i> By date</a></span>
                &emsp;
                <span style="display:inline;"><a id="button-title" href="javascript:show('title');hideAllExcept('title');"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> By title</a></span>

                &emsp;
                <span style="display:inline;"><a id="button-category" href="javascript:show('category');hideAllExcept('category');"><i class="fa fa-asterisk" aria-hidden="true"></i> By category</a></span>

                &emsp;
                <span style="display:inline;"><a id="button-tag" href="javascript:show('tag');hideAllExcept('tag');"><i class="fa fa-at" aria-hidden="true"></i> By tag</a></span>

                <div id="sortby-date">
                    {{ range where .Data.Pages "Title" .Title }}
                    <div class="markdown">
                      <p>{{ .Content }}</p>
                    </div>
                    {{ end }}

                    {{ $sectionTitle := .Title }}
                    <ul>
                        {{ range .Data.Pages.GroupByDate "2006" "desc"}}
                          {{ if not (and (eq (len .Pages) 1) (eq (index .Pages 0).Title $sectionTitle)) }}
                            <li class="groupby">{{ .Key }}</li>
                            {{ range sort .Pages "Date" "desc" }}
                              {{ if (not (eq $sectionTitle .Title)) }}
                                {{ partial "li.html" . }}
                              {{ end }}
                            {{ end }}
                          {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <div id="sortby-title" style="display:none;">
                    <ul>
                        <li class="groupby">A-Z</li>
                        {{ range .Pages.ByTitle }}
                            {{ if (not (eq $sectionTitle .Title)) }}
                              {{ partial "li.html" . }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <div id="sortby-category" style="display:none;">
                    {{ $currentCategory := "" }}
                    <ul>
                        {{ range .Pages.ByParam "categories" }}
                            {{ if isset .Page.Params "categories" }}
                                {{ $category := (index .Page.Params.categories 0) }}
                                {{ if not (eq $category $currentCategory) }}
                                    {{ $currentCategory = $category }}
                                    <li class="groupby">{{ humanize $currentCategory }}</li>
                                {{ end }}
                                {{ partial "li.html" . }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <div id="sortby-tag" style="display:none;">
                    {{ $tagDict := dict }}
                    {{ range .Pages.ByDate }}
                            {{ $currentPage := .Page }}
                            {{ range .Page.Params.tags }}
                                {{ if not (isset $tagDict .) }}
                                    {{ $tagDict = merge $tagDict (dict . (slice $currentPage)) }}
                                {{ else }}
                                    {{ $array := (index $tagDict .) }}
                                    {{ $array = $array | append $currentPage }}
                                    {{ $tagDict = merge $tagDict (dict . $array) }}
                                {{ end }}
                            {{ end }}
                    {{ end }}

                    <ul>
                        {{ range $tag, $pages := $tagDict }}
                            </li>
                            <li class="groupby">
                            <details>
                            <summary>
                                {{ humanize $tag }}
                            </summary>
                            {{ range $pages }}
                                {{ partial "li.html" . }}
                            {{ end }}
                        {{ end }}
                                </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
// https://stackoverflow.com/questions/21070101/show-hide-div-using-javascript
function show (id) {
  var computedDisplay, element, index;
  var color = document.getElementById('button-' + id).style.color;
  if (color !== 'var(--identifier)') {
    document.getElementById('button-' + id).style.color = 'var(--identifier)';
  }
  var elements = document.getElementById('sortby-' + id);

  elements = elements.length ? elements : [elements];
  for (index = 0; index < elements.length; index++) {
    element = elements[index];

    // Remove the element's inline display styling
    element.style.display = '';
    computedDisplay = window.getComputedStyle(element, null).getPropertyValue('display');

    if (computedDisplay === 'none') {
        element.style.display = specifiedDisplay || 'block';
    }
  }
}
function hide (elements) {
  elements = elements.length ? elements : [elements];
  for (var index = 0; index < elements.length; index++) {
    elements[index].style.display = 'none';
  }
}
function hideAllExcept(divToShow) {
  var ids = ['date', 'title', 'category', 'tag'];
  for (const id of ids) {
    if (divToShow !== id) {
        hide(document.getElementById('sortby-' + id));
        document.getElementById('button-' + id).style.color = 'var(--gray)';
    }
  }
}
var ids = ['title', 'category', 'tag'];
for (const id of ids) {
  document.getElementById('button-' + id).style.color = 'var(--gray)';
}
</script>
{{ partial "footer.html" . }}
