{{ if .Site.Params.highlightjs }}
  <script src="{{ .Site.BaseURL }}js/highlight.pack.js" defer></script>
{{ end }}

{{ if .Site.Params.progressively }}
  <script src="{{ .Site.BaseURL }}js/progressively.min.js" defer></script>
{{ end }}

{{ if .Site.Params.share }}
  <script src="{{ .Site.BaseURL }}js/social-share-kit.min.js" defer></script>
{{ end }}

<script>
  window.onload = function() {
      hljs.initHighlighting();
  };
</script>

{{ if .Site.Params.uselatex }}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
<script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
{{ end }}
