<!-- CSS -->

<style media="screen">
  {{ partial "css/main.css" . | safeCSS }}
</style>
<style media="(min-width: 600px)">
  {{ partial "css/min600px.css" . | safeCSS }}
</style>
<style media="(min-width: 769px)">
  {{ partial "css/min769px.css" . | safeCSS }}
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

{{ if .Site.Params.progressively }}
  <style type="text/css" media="screen">
    {{ partial "css/progressively.min.css" . | safeCSS }}
  </style>
{{ end }}

{{ if .Site.Params.share }}
  <style type="text/css" media="screen">
    {{ partial "css/social-share-kit.css" . | safeCSS }}
  </style>
{{ end }}

<style type="text/css" media="screen">
  {{ partial "css/colors.css" . | safeCSS }}
</style>

<style type="text/css" media="screen">
    {{ partial "css/details-arrow.css" . | safeCSS }}
</style>

<style type="text/css" media="screen">
    {{ partial "css/switch.css" . | safeCSS }}
</style>

<link rel="stylesheet" id="dark-theme-code"
      href="/css/monokai-sublime.css">

<link rel="stylesheet" id="light-theme-code"
      href="/css/lightfair.css">

<style type="text/css" media="screen">
    {{ partial "css/override.css" . | safeCSS }}
</style>

{{ range .Site.Params.extracssfiles }}
  <link rel="stylesheet" href="{{ . | relURL }}">
{{ end }}


<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<script async defer data-domain="danyspin97.org" src="https://plausible.io/js/plausible.js"></script>

<!-- https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
